.logo-carousel {
  position: relative; 
  margin: 16px -8px;
  border-radius:8px;
}

.logo-carousel img {
  border-radius:0;
}

.logo-carousel .flickity-viewport {
  border-radius: 8px;
  overflow: hidden;
}

.logo-carousel .flickity-page-dots .dot {
  background: var(--muted);
}

.logo-carousel .flickity-page-dots .dot.is-selected {
  background: var(--primary);
}

.logo-card {
  box-sizing: border-box;
  width: 280px;
  height: 140px;
  margin-right: 8px;
  padding: 16px;
  background: white;
  border-radius: 8px;
  /* Ho mantenuto un bordo inizialmente trasparente per evitare movimenti visivi durante l'interazione. */
  border: 1px transparent solid ; 
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  cursor: pointer;
  transition: border-radius var(--animation), border var(--animation);
}

/* Ho scelto una rappresentazione monocromatica per mantenere il carosello elegante e non invasivo. */
.logo-img {
  width: 120px;
  height: 70px;
  object-fit: contain;
  filter: grayscale(100%);
  opacity: 0.6;
  margin: 0 auto;
  transition: width var(--animation), filter var(--animation), opacity var(--animation), margin var(--animation);
}

/* Ho nascosto i dettagli con una transizione di larghezza per non appesantire la vista iniziale. */
.logo-details {
  width: 0;
  overflow: hidden;
  opacity: 0; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: width var(--animation), opacity var(--animation), margin var(--animation);
}

.logo-details h4 {
  margin: 0 0 5px 0;
  font-size: 16px;
  color: var(--text);
  white-space: nowrap;
}

/* Ho fissato una larghezza minima per evitare rotture di layout durante l'animazione. */
.logo-details p {
  margin: 0;
  font-size: 12px;
  color: var(--muted);
  min-width: 164px;
}

/* Si attiva sia in hover che se ha la classe selected */
.logo-card:hover,
.logo-card.is-selected {
  border-radius: 16px;  
  border: var(--border);
}

/* Modifiche al logo */
.logo-card:hover .logo-img,
.logo-card.is-selected .logo-img {
  filter: none;
  opacity: 1;
  width: 70px;
  margin: 0;
}

/* Modifiche ai dettagli descrittivi */
.logo-card:hover .logo-details,
.logo-card.is-selected .logo-details {
  width: 164px;
  opacity: 1; 
  margin-left: 16px;
}
